apiVersion: apps/v1
kind: Deployment
metadata:
  name: aceest-fitness-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: aceest-fitness
  template:
    metadata:
      labels:
        app: aceest-fitness
    spec:
      containers:
      - name: aceest-fitness
        image: srilakshmikalaga/aceest-fitness-app:v44
        ports:
        - containerPort: 5000
---
apiVersion: v1
kind: Service
metadata:
  name: aceest-fitness-service
spec:
  type: NodePort
  selector:
    app: aceest-fitness
  ports:
    - port: 5000
      targetPort: 5000
      nodePort: 30001
